@media (max-width: 850px) {
  body {
    padding: 0;
  }

  .navbar {
    height: 50px;
    position: inherit;
  }

  .navbar .logo {
    height: 45px;
    margin-left: 3px;
    overflow: hidden;
    width: 45px;
  }

  .navbar .title h1 {
    font-size: 16px;
    margin: 15px 15px 0 0;
  }
}

@media (max-width: 450px) {
  .navbar .title h1 {
    font-size: 13px;
    margin: 17px 15px 0 0;
  }
}
